extends ../layout

block content
  .container
    if post.id
      h1.page-header 글수정
    else
      h1.page-header 숙소 기본 정보

    form(action = (post.id) ? "/posts/#{post.id}?_method=PUT" : "/posts", method='POST')
      .form-group
        label(for='title') 제목
        input.form-control(type='text', id='title', name='title', placeholder='title', value=post.title)
      .form-group
        label(for='content') 간단한 설명
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= post.content
        
      .form-group
        label(for='title') 도시
        input.form-control(type='city', id='city', name='city', placeholder='city', value=post.city)
      .form-group
        label(for='title') 주소
        input.form-control(type='address', id='address', name='address', placeholder='address', value=post.address)
      .form-group
        label(for='title') 숙소요금
        input.form-control(type='cash', id='cash', name='cash', placeholder='cash', value=post.cash)
      .form-group
        label(for='content') 편의 시설
        textarea.form-control(id='facilities', rows='10', name='facilities', placeholder='facilities')= post.facilities
      .form-group
        label(for='content') 이용 규칙
        textarea.form-control(id='rule', rows='10', name='rule', placeholder='rule')= post.rule
      

      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료
