extends ../layout

block content
  .container
    h1.page-header= post.title
    p
      b by #{post.email}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
    p.well(style='white-space:pre;')= post.content
    p.well(style='white-space:pre;')= post.city
    p.well(style='white-space:pre;')= post.address
    p.well(style='white-space:pre;')= post.cash
    p.well(style='white-space:pre;')= post.facilities
    p.well(style='white-space:pre;')= post.rule
    
    a.btn.btn-default(href='/posts') 목록
